/*
Theme Name: United Social Sports: Sport Theme
Description: WordPress Theme built for individual Sports sites
Author: 336 Creative
Version: 1.0
Tags: custom
*/

body{
    font-size: 15px;
    font-family: arial;
    color: #292929;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6em;
}
#container{
    width: 988px;
    margin: 0 auto;
}
#header{
    height: 58px;
    background: url(images/header_bg.jpg) no-repeat;
}
.clear{
    clear: both;
}
img{
    border: none;
}
.main{
    padding: 10px;
}
.header-logo{
    float: left;
    position: relative;
    width: 176px;
}
.header-logo img{
    border: none;
    position: absolute;
}
.header-info{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    padding: 0 15px;
}
.header-info h3{
    font-size: 16px;
    color: #c2c2c2;
    margin: 6px 0;
}
.header-login{
    float: left;
    margin: 0 22px;
}
.header-login input[type=text],.header-login input[type=password]{
    width: 103px;
    height: 28px;
    padding: 2px 6px;
    float: left;
    border: medium none;
    background: url(images/bg_input_search.png) no-repeat;
}
.header-login form{
    margin: 10px 0 0 0;
}
.header-login input{
    margin: 0 3px;    
}
.header-social-sports{
    float: right;
    margin: 10px 0 0 0;
}
#access{
    height: 28px;
    padding-left: 200px;
    padding-top: 18px;
    border-bottom: 4px solid #000000;
    background-color:#fff;
}
#access ul{
    margin: 0px 0 0 0;
    padding: 0;
}
#access ul li{
    list-style: none;
    float: left;
    margin: 0 12px;
}
#access ul li a{
    font-size: 15px;
    font-weight: bold;
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
}
.home-icon a:hover{
    border-bottom: none !important;
}
#access ul li a:hover{
    border-bottom: 4px solid #CC0000;
}
#access img{
    border: none;
    float: left;
    margin-right: 15px;
}
#division-box{
    margin: 22px 0;
    
}
.division-top{
    border-bottom: 4px solid #cc0000;
}
.division-header{
    float: left;
}
.division-nav{
    float: right;
}
.division-nav ul{
    margin: 0;
    padding: 0;
}
.division-nav ul li{
    float: left;
    list-style: none;
    background: url(images/div_nav_black.png) no-repeat scroll right -31px;
}
.division-nav ul li a{
    background: url(images/div_nav_black.png) no-repeat scroll left top;
    margin-right: 30px;
    padding: 4px 6px 0px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}
.division-nav ul li:hover{
    background: url(images/div_nav_red.png) no-repeat scroll right -31px;
}
.division-nav ul li:hover a{
    background: url(images/div_nav_red.png) no-repeat scroll left top;
}
.div-curr-tab{
    background: url(images/div_nav_red.png) no-repeat scroll right -31px !important;
}
.div-curr-tab a{
    background: url(images/div_nav_red.png) no-repeat scroll left top !important;
}
.division-header{ 
    font-size: 22px;
    font-weight: bold;
}
.division-font1{
    text-transform: uppercase;
    color: #292929;
}
.division-font2{
    color: #cc0000;
}
.division-content{
    background: url(images/bg_division.png) no-repeat;
    height: 429px;
}
.division-menu {
    float: left;
    height: 99%;
    width: 386px;
    background: none repeat scroll 0 0 transparent;
}
.division-info{
    float: left;
    padding: 20px 25px;
    width: 548px;
}
#content{
    margin: 20px 0 60px;
}
#main-content{
    
    float: left;
    width: 660px;
}

#sidebar{
    float: right;
    width: 304px;
    
}
.main-content-box{
    
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    margin-bottom: 20px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px;    
    behavior: url(/PIE.htc);
}
.main-content-page{
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
}
.home-img-box{
    text-align: center;
    
}
.home-img-box img{
    border: 1px solid #CCCCCC;
    padding: 3px;
}
.main-content-box h2{
    font-size: 26px;
    margin: 0 0 8px 0;
}
.main-content-box h2 a{
    color: #292929;
    text-decoration: none;
}
.main-content-box p{
    margin: 8px 0;
    
}
.author-post{
    font-size: 18px;
    color: #999999;
    display: block;
    margin: 6px 0 12px 0;
}
.social-media-box{
    text-align: center;
    background: url(images/social_media_bg.png) no-repeat;
    width: 304px;
    height: 25px;
    padding: 35px 0;
    margin-bottom: 16px;
}
.social-media-box img{
    margin: 0 2px;
}
.proudly-sponsored-content{
    text-align: center;
    padding-bottom: 15px;
    background: url(images/bg_sponsor.png) repeat-x scroll center bottom #FFFFFF;
}
.proudly-sponsored-content img{
    padding: 15px 0;
}
.proudly-sponsored{
    
    
}
.proudly-sponsored h3{
    border-bottom: 1px solid #EEEEEE;
    font-size: 20px;
    margin: 0 0 6px;
    padding: 15px 0;
    text-align: center;
}
.sponsor-link{
    text-align: center;
    padding: 10px 0;
}
.sponsor-link a{
    color: #cc0000;
    text-decoration: underline;
}
.sidebar-box{
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    margin-bottom: 20px;    
    
}
.comment-item{
    margin: 0 0 20px 0;
    padding: 0 10px;
}
.comment-item img{
    float: left;
    margin: 0 15px 8px 0;
}
.comment-item .registered-us{
    text-decoration: none;
    border-bottom: 1px dotted #cc0000;
    font-weight: bold;
    color: #292929;
}
.comment-item .regis-time{
    color: #cccccc;
}
.dckickball-face-header{
    padding: 10px;
}
.face-header-logo{
    float: left;
    border: none;
    margin-right: 10px;
}
.dckickball-title{
    font-weight: bold;
    font-size: 15px;
    
}
.face-us-item{
    float: left;
    margin: 6px 7px;
}
.face-us-item img{
    border: 1px solid #CCCCCC;
    padding: 3px;
    
}
.face-us-item p{
    text-align:center;
    margin: 0;
}
.dckickball-post{
    margin: 25px 20px;
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.dckickball-post-title{
    background-color: #e5e5e5;
    padding: 5px 10px;
    line-height: 1.2em;
}
.dckickball-post-title img{
    float: left;
    margin-right: 10px;
}
.dckickball-post-title span{
    font-weight: bold;
    font-size: 17px;
}

.dckickball-post-item {
    margin: 0 0 0;
    padding: 5px 10px;
    border-bottom: 1px dotted #292929;
    line-height: 1.5em;
    font-size: 13px;
}
.dckickball-post-item p{
    margin: 6px 0 0 0;
}
.post-item-link{
    text-decoration: none;
    color: #CC0000;
}
.post-item-info{
    font-size: 12px;
}
.post-item-info a{
    color: #292929;
    text-decoration: none;
    padding: 0 8px 0 0;
}
.dckickball-post-foter{
    background-color: #e5e5e5;
    padding: 0 10px;
}
.dckickball-post-foter img{
    float: left;
    border: none;
    padding: 10px 0 8px;
}
.dckickball-post-foter span{
    float: right;
    padding: 5px 0 0;
}
.dckickball-post-foter span a{
    text-decoration: none;
    color: #292929;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#footer{
    background: url("images/header_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 58px;
}
.footer-left{
    float: left;
    position: relative;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
}
.footer-left span{
    display: block;
    padding: 16px 0 0 8px;
}
.footer-left img {
    left: 67px;
    position: absolute;
    top: -25px;
}
.footer-midd{
    float: right;
}
.footer-right{
    float: right;
    position: relative;
    width: 116px;
}
.footer-right img{
    position: absolute;
    right: 0;
    top: -70px;
}
.footer-midd ul{
    margin: 0;
    padding: 0;
}
.footer-midd ul li{
    list-style: none;
    float: left;
    margin: 0 10px;
}
.footer-midd ul li a{
    text-decoration: underline;
    color: #f3f3f3;
    font-size: 14px;
}
.footer-midd span{
    display: block;
    float: left;
    margin: 0 15px;
    font-size: 16px;
    color: #a8a8a8;
}
.div-post-item{
    background: url(images/div_menu_item.jpg) repeat-x;
    height: 48px;
    padding: 6px 0;
}
/*
.blockactive{
    background: url(images/div_menu_item_hover.jpg) repeat-x;
}
*/
.div-title-icon{
    float: left;
    width: 50px;
    padding-top: 12px;
    text-align: center;
}
.div-title{
    float: left;
    line-height: 1.5em;
    padding-top: 5px;
}
.div-title h3{
    color: #bdbdbd;
    font-size: 18px;
    margin: 0;
}
.div-title h3 a{
    color: #bdbdbd;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
}
.div-title span{
    font-size: 15px;
    color: #cc0000;
    font-weight: bold;
    margin-right: 5px;
}
.div-status{
    float: right;
    margin-right: 10px;
    padding-top: 7px;
}
.div-status ul{
    margin: 0;
    padding: 0;
}
.div-status ul li{
    list-style: none;
    background: url(images/divboxbtn_black.png) no-repeat scroll right -34px;
}
.div-status ul li a{
    background: url(images/divboxbtn_black.png) no-repeat scroll left top;
    color: #FFFFFF;
    display: block;
    margin-right: 14px;
    padding: 6px 2px 4px 16px;
    text-decoration: none;
}
.division-info h3{
    color: #CC0000;
    font-size: 24px;
    margin: 0 0 10px;
}
.lbl-division-info{
    float: left;
    margin: 0;
    width: 105px;
    text-align: left;
}
.division-info-text{
    margin: 15px 0;
}
.txt-division-info{
    float: left;
    margin: 0;
    font-weight: bold;
}
.sign-up-detail{
    margin: 20px 0;
}
.sign-up-detail{
    font-weight: bold;
    font-size: 16px;
}
.sign-up-detail a{
    background: url(images/div_btn.png) no-repeat;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 22px;
    margin: 0 15px 0 0;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    width: 76px;
}
.sign-up-detail a:hover{
    color: #FFFFFF !important;
}
.page-content{
    padding: 25px;
}
.header-page-content, .footer-page-content{
    background-color: #F9F9F9;
    height: 25px;
    padding: 16px 25px;
}
.header-page-content a, .footer-page-content a{
    color: #999999 !important;
    font-size: 18px;
    text-decoration: none;
}
.header-page-content{
     -moz-border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #EEEEEE;
}
.footer-page-content{
    -moz-border-radius: 0 0 6px 6px;
    border-top: 1px solid #EEEEEE;
}

.header-page-content img{
    margin: 0 10px;
}
#main-content-full{
    background-color: #FFFFFF;
    border: 1px solid;
    padding: 25px;
    -moz-border-radius: 6px;
    border: 1px solid #CCCCCC;
}
.columm-contact{
    float: left;
    width: 304px;
}
.wpcf7-form p{
    margin: 15px 0 !important;
}
.wpcf7-form input[type=text]{
    width: 260px;
    height: 36px;
    padding: 3px 10px;
    -moz-border-radius: 5px;
}
.wpcf7-form textarea{
    padding: 3px 10px;
    -moz-border-radius: 5px;
    width: 580px;
    height: 130px;
    font-size: 15px;
    font-weight: normal;
}
.wpcf7-form select{
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    height: 40px;
    padding: 10px;
    width: 280px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.contact-content-form{
    font-size: 14px;
    font-weight: bold;
}
.got-question-title{
    background: url(images/got_question_icon.png) no-repeat;
    padding: 3px 0 2px 36px;
}
.contactSubmit{
    background: url(images/send_now.png) no-repeat;
    width: 127px;
    height: 32px;
    border: none;
    margin-right: 8px;
    float: right;
}
#content h3{
    font-size: 18px;
}

.flipcup-image{
    text-align: center;
    border: none;
}
#access ul ul li a:hover{
    border: none !important;
}
#access ul ul li{
    border-bottom: 1px solid #CCCCCC;
}
#access .current-menu-parent a{
    color: #CC0000;
}
#access .current-menu-parent .current-menu-item a{
    color: #CC0000 !important;
}
#access .current-menu-parent ul li a{
    color: #292929;
}
.leauge-box-small{
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    padding: 10px 22px 10px 10px;
    float: left;
    height: 22px;
    margin-bottom: 20px;
}
.leauge-box-small-f{
    margin-right: 10px;
}
.leauge-box-small-l{
    float: left;
}
.leauge-box-small-m{
    margin: 0 10px 20px;
}
.leauge-box{
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 5px;
    padding: 15px 10px;
    margin: 0 0 20px 0;   
}
.leauge-sponsor-logo {
    float: right;
    background-color: #FFFFFF;
    padding: 15px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
}
.leauge-regis-now{
    float: right;
    margin: 8px 0 0 15px;
}
.league-tbl{
    -moz-border-radius: 5px;
}
.league-tbl th{
    background-color: #000000;
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
}

.leauge-box-small span, .leauge-box span{
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
.stamps-status{
    float: right;
    margin: 10px 0 0 0;
}
.stamps-box p{
    margin: 0 0 10px 0;
}
.author-post a{
    text-decoration: none;
    color: #999999 !important;
}
.author-post a:hover{
    text-decoration: none;
    color: #FF4B33 !important;
}
.txtmain-content-box{
    padding: 25px;
}
.comment-number{
    color: #CC0000;
    float: left;
}
.tweet-like-this{
    float: right;
}
.home-icon{
    width: 25px;
}
.simple-faq li{
    color: #cc0000;
    margin-bottom: 10px;
}
.simple-faq .sf-answer{
    color: #292929;
}

/*
Theme Name: Twenty Ten
Theme URI: http://wordpress.org/
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Version: 1.2
License: GNU General Public License
License URI: license.txt
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */


blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}


/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/


/* =Fonts
-------------------------------------------------------------- */

input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 940px;
}
#wrapper {
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */

input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */

ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
    padding: 0;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ol ol,
ul ol{
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #FFFFFF;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #0066cc;
    text-decoration: none;
}

a:active,
a:hover {
	color: #ff4b33;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	z-index: 99999;
    padding: 10px 0 0;
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-top: 4px solid #CC0000;
    -moz-border-radius: 0 0 6px 6px;
}
#access ul li a:hover ul{
    border-top: 1px solid #CC0000 !important;
}
#access ul ul li {
	margin: 0;
    padding: 0;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	height: auto;
    line-height: 1em;
    min-width: 100px;
    padding: 10px;
}
#access li:hover > a,
#access ul ul :hover > a {
	
	color: #CC0000;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}

#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
#commish-recent-registrations{
    padding: 10px;
}
#commish-recent-registrations img{
    float:left;
    margin-right:10px;
}
.commish-reg-item{
    margin-bottom: 10px;
    clear: both;
}
.sign-up-detail a{color: #fff !important;}
.txt-division-info a{color:#CC0000 !important}
.home-icon{
    padding-top:5px;
}
.leauge-box-small1 {

    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 22px;
    margin-bottom: 20px;
    padding: 10px 22px 10px 10px;
}
/* =Print Style
-------------------------------------------------------------- */

@media print {
	
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	
	.home .sticky {
		border: none;
	}
}
